APP_ENV=
PORT=
LOG_LEVEL=
APP_SHUTDOWN_TIMEOUT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=

JWT_SECRET_KEY=
INVITATION_BASE_URL=
INVITATION_TTL=

PAYMONGO_BASE_URL=
PAYMONGO_SUCCESS_URL=
PAYMONGO_CANCEL_URL=

PAYMONGO_TEST_PUBLIC_KEY=
PAYMONGO_TEST_SECRET_KEY=
